.app-container {
  margin: auto;
  text-align: center;
}

.market-container {
  margin: auto;
  width: 60%;
}

.container {
  margin: 25px auto 25px auto;
  width: 80%;
  background-color: #424549;
}

.stock {
  margin: 25px auto 25px auto;
  width: 80%;
}

.news-container {
  height: 600px;
  overflow: scroll;
}

.sector-card {
  margin: 10px;
}

.stock-card {
  margin: 10px;
}

.event-card {
  margin: 10px;
}

.search-suggestions {
  position: relative;
  z-index: 1;
}

.popup-text {
  height: 100px;
  overflow: scroll;
  position: absolute;
  opacity: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgrey;
  z-index: 1;
  color: white;
}

.peers-table, .key-stats, .balance-sheet, .earnings-container {
  width: 100%;
  margin: 10px;
  text-align: center;
  overflow-x: scroll;
  background-color: #424549;
}

.stock-chart {
  margin: 75px;
}

.market-status {
  font-size: 20px;
}

.stats-card, .profile-card {
  margin: 5px;
}

body {
  background-color: black;
}
