.app-container {
  margin: auto;
  text-align: center;
}

.market-container {
  margin: auto;
  width: 60%;
}

.container {
  margin: 25px auto 25px auto;
  width: 80%;
  background-color: #424549;
}

.stock {
  margin: 25px auto 25px auto;
  width: 80%;
}

.news-container {
  height: 500px;
  overflow: scroll;
}

.sector-card {
  margin: 10px;
}

.search-suggestions {
  position: relative;
  z-index: 1;
}

.popup-text {
  height: 100px;
  overflow: scroll;
  position: absolute;
  opacity: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightblue;
  z-index: 1;
  color: white;
}
